<main>
  <section class="py-5 text-center container">
    <div class="container">
      <div class="row">
          <div class="col-lg-3 trips-container">
            <div class="scroll-container">
              <% @trips.each do |trip| %>
                <div class="trip-card">
                  <h5><%= trip.name %></h5>
                  <p><%= trip.status.humanize %></p>
                  <button class="btn btn-primary trip-button" data-toggle="modal" data-target="#myModal" data-attribute-id="<%= trip.id %>">Click me</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <%= link_to "Create New Trip", new_trip_path, class: "btn btn-primary create-trip-button" %>
          </div>
        </div>
        <div class="col-lg">
          <div class="map-container">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
